{% extends 'base.html' %} {% block content %}
<!--
This page extends "base.html" and gernerates a form that allows the user to create a new allergen.
-->
<h2>Add Allergen</h2>
<div class="row">
    <form action="{{ url_for('insert_allergen') }}" method="POST" class="col s12">
        <div class="row">
            <div class="col s1"></div>
            <!-- Text input field for new allergen name -->
            <div class="input-field col s10">
                <i class="material-icons prefix">poll</i>
                <input id="allergen_name" name="allergen_name" type="text" class="validate">
                <label for="allergen_name">Allergen Name</label>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <!-- Textarea input field for new allergen description -->
            <div class="input-field col s10">
                <i class="material-icons prefix">subject</i>
                <textarea name="allergen_description" id="allergen_description" class="materialize-textarea" required></textarea>
                <label for="icon_telephone">Allergen Description</label>
            </div>
            <div class="col s1"></div>
        </div>
        <!-- Submit button to insert new allergen into database -->
        <div class="row">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Add Allergen
            <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
