{% extends 'base.html' %} {% block content %}
<!--
This page extends "base.html" and contains the form to allow users to create a new recipe 
and insert it into the database..
-->
<h2 class="center-align">Create Recipe</h2>
    <!-- Form that allows the user to enter the required information/data to create a new recipe. -->
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="col s1"></div>
                <!-- Text input field for recipe name. -->
                <div class="input-field col s10">
                    <i class="material-icons prefix">assignment</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <!-- Select option field to allow the user to select the category of the recipe.  -->
                <div class="input-field browser-default col s5">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category" required>
                      <option value="" disabled selected>Choose Category</option>
                      {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                      {% endfor %}
                    </select>
                    <label>Recipe Category</label>
                </div>
                <!-- Select option field to allow the user to select the cuisine of the recipe.  -->
                <div class="input-field browser-default col s5">
                    <i class="material-icons prefix">poll</i>
                    <select id="cuisine" name="cuisine" required>
                      <option value="" disabled selected>Choose Cuisine</option>
                      {% for cuisine in cuisines %}
                      <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                      {% endfor %}
                    </select>
                    <label>Cuisine</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <!-- Select option field to allow the user to select the allergens of the recipe.  -->
                <div class="col s1"></div>
                <div class="input-field col s10">
                    <i class="material-icons prefix">poll</i>
                    <select multiple id="allergens" name="allergens">
                      <option value="" disabled>Choose Allergen(s)</option>
                      {% for allergen in allergens %}
                      <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                      {% endfor %}
                    </select>
                    <label>Allergen</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <!-- Text input field to allow the user to enter the ingredients of the recipe.  -->
                <div class="input-field col s10">
                    <i class="material-icons prefix">assignment</i>
                    <input id="ingredients" name="ingredients" type="text" class="validate" required>
                    <label for="icon_prefix">Ingredients</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <!-- Textarea field to allow the user to enter the intructions of the recipe.  -->
                <div class="input-field col s10">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="instructions" id="instructions" class="materialize-textarea" required></textarea>
                    <label for="icon_telephone">Instructions</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <!-- Text input field to allow the user to enter the preparation time of the recipe.  -->
                <div class="input-field col s3">
                    <i class="material-icons prefix hide-on-small-only">timer</i>
                    <input id="prep" name="prep" type="text" class="validate">
                    <label for="icon_prefix">Prep</label>
                </div>
                <!-- Text input field to allow the user to enter the cooking time of the recipe.  -->
                <div class="input-field col s3">
                    <i class="material-icons prefix hide-on-small-only">timer</i>
                    <input id="cook" name="cook" type="text" class="validate">
                    <label for="icon_prefix">Cooking</label>
                </div>
                <!-- Text input field to allow the user to enter the author of the recipe.  -->
                <div class="input-field col s4">
                    <i class="material-icons prefix hide-on-small-only">edit</i>
                    <input id="author" name="author" type="text" class="validate" required>
                    <label for="icon_prefix">Author</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row hide">
                <!-- Number input field hidden from user to set the initial value of the views field of the recipe.  -->
                <div class="input-field col s4">
                    <i class="material-icons prefix">edit</i>
                    <input id="views" name="views" type="number" value="0" class="validate">
                    <label for="icon_prefix">Author</label>
                </div>
                <!-- Number input field hidden from user to set the initial value of the upvotes field of the recipe.  -->
                <div class="input-field col s4">
                    <i class="material-icons prefix">edit</i>
                    <input id="upvotes" name="upvotes" type="number" value="0" class="validate">
                    <label for="icon_prefix">Author</label>
                </div>
            </div>
            <!-- Submit button to insert the new recipe into the database.  -->
            <div class="row">
                <button class="btn waves-effect waves-light red playfair" type="submit" name="action">Add Recipe
                    <i class="material-icons right red">playlist_add</i>
                </button>
            </div>
        </div>
    </form>

{% endblock %}
