{% extends 'base.html' %} {% block content %}
<!--
This page extends "base.html" and displays the recipes contained in a specific category after the 
user has selected the related "Drill-down/Hot Key".
-->
<h2 class="center-align"> {{ category_name }} </h2>
<!-- Display each recipe in the selected category in table format. -->
<table class="striped playfair">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Allergens</th>
            <th class="hide-on-small-only">Time</th>
            <th class="hide-on-small-only">Likes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in category_recipes %}
        <tr>
            <td> {{recipe.recipe_name}} </td>
            <td> {{recipe.allergens}} </td>
            <td class="hide-on-small-only"> {{recipe.cook}} mins </td>
            <td class="hide-on-small-only"> {{recipe.upvotes}} </td>
            <!-- Navigation Button to bring users to a single recipe view page -->
            <td><a href="{{ url_for('display_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn red"><i class="material-icons red hide-on-med-and-up">visibility</i><span class="hide-on-small-only">Show Recipe</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


