{% extends 'base.html' %} {% block content %}
<!--
This page extends "base.html" and renders the cuisine edit form which allows the user
to add or change information about the chosen cuisine.
-->
<h2>Edit Cuisine</h2>
<div class="row">
     <!-- Form that allows the user to edit the required information/data of the selected cuisine. -->
    <form action="{{ url_for('update_cuisine', cuisine_id=the_cuisine._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="col s1"></div>
            <div class="input-field col s10">
                <i class="material-icons prefix">poll</i>
                <input id="cuisine_name" name="cuisine_name" type="text" class="validate" value="{{the_cuisine.cuisine_name}}">
                <label for="cuisine_name">Cuisine Name</label>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="input-field col s10">
                <i class="material-icons prefix">subject</i>
                <textarea name="cuisine_description" id="cuisine_description" class="materialize-textarea">{{ the_cuisine.cuisine_description }}</textarea>
                <label for="icon_telephone">Cuisine Description</label>
            </div>
            <div class="col s1"></div>
        </div>
        <!-- Submit button to update the information of the selected allergen in the database -->
        <div class="row">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Edit Cuisine
            <i class="material-icons right">playlist_add</i>
        </button>
        </div>
    </form>
</div>
{% endblock %}
