{% extends 'base.html' %} {% block content %}
<!--
This page extends "base.html" and renders the recipe search form which allows the user
to search through all the recipes on the database based on the criteria they select.
-->
<h2 class="center-align">Search Recipes</h2>
<!-- Form that allows the user to search all recipes based on the selected criteria/values. -->
<form action="{{ url_for('search_results') }}" method="POST" class="col s12">
    <div class="row">
        <!-- Multiple select option input fields to allow the user to select various search criteria. -->
        <!-- <div class="col s1"></div> -->
        <div class="input-field browser-default col s12 m6 search-spacing">
            <i class="material-icons prefix">poll</i>
            <select multiple id="category" name="category" class="playfair">
                      <option value="" disabled selected><span class="hide-on-small-only">Choose</span> Categories</option>
                      {% for cat in categories %}
                      <option value="{{cat.category_name}}" class="playfair">{{cat.category_name}}</option>
                      {% endfor %}
                    </select>
            <label class="playfair">Select Categories</label>
        </div>
        <div class="input-field browser-default col s12 m6 search-spacing">
            <i class="material-icons prefix">poll</i>
            <select multiple id="cuisine" name="cuisine" class="playfair">
                      <option value="" disabled selected >Choose Cuisines</option>
                      {% for cuisine in cuisines %}
                      <option value="{{cuisine.cuisine_name}}" class="playfair">{{cuisine.cuisine_name}}</option>
                      {% endfor %}
                    </select>
            <label class="playfair">Select Cuisines</label>
        </div>
        <!-- <div class="col s1"></div> -->
    <!-- </div>
    <div class="row"> -->
        <!-- <div class="col s1"></div> -->
        <div class="input-field browser-default col s12 m6 search-spacing">
            <i class="material-icons prefix">poll</i>
            <select multiple id="allergens" name="allergens" class="playfair">
                      <option value="" disabled selected >Choose Allergens</option>
                      {% for allergen in allergens %}
                      <option value="{{allergen.allergen_name}}" class="playfair">{{allergen.allergen_name}}</option>
                      {% endfor %}
                    </select>
            <label class="playfair">Select Allergens</label>
        </div>
        <div class="input-field browser-default col s12 m6 search-spacing">
            <i class="material-icons prefix">poll</i>
            <select multiple id="ingredients" name="ingredients" class="playfair">
                      <option value="" disabled selected >Choose Ingredients</option>
                      {% for ingredient in ingredients %}
                      <option value="{{ingredient}}" class="playfair">{{ingredient}}</option>
                      {% endfor %}
                    </select>
            <label class="playfair">Select Ingredients</label>
        </div>
        <!-- <div class="col s1"></div> -->
    </div>
    <!-- Submit button to search for recipes in the database and navigate to the search results page. -->
    <div class="row">
        <button class="btn waves-effect waves-light red playfair" type="submit" name="action" class="playfair">Search for Recipes
                    <i class="material-icons right red">search</i>
        </button>
    </div>
</form>
{% endblock %}
